.tree .tree-ldap { 
	margin-left:0;
	min-width:100%;
	_width:100%;
	float:left;
}
/*
.tree .tree-ldap {
	font-family:"Lucida Grande";
	font-size:14px;
}

.tree .tree-ldap,
.tree .tree-ldap ul,
.tree .tree-ldap li.leaf {
	background-image:none;
}
*/
.tree .tree-ldap {
	background:url("bg.jpg") left top repeat;
}
.tree .tree-ldap li.open {
	background-image:url("minus.gif");
}
.tree .tree-ldap li.closed,
.tree .tree-ldap #dragged li.open {
	background-image:url("plus.gif");
}


#myldap .tree-ldap li a {
	background-image:url("folder.png");
}
#myldap .tree-ldap li.ou li.cn a,
#myldap .tree-ldap li.cn a {
	background-image:url("list_users.gif");
}
#myldap .tree-ldap li.dc a {
	background-image:url("icon_get_world.gif");
}
#myldap .tree-ldap li.ou li.uid a {
	background-image:url("icon_user.gif");
}
#myldap .tree-ldap li.ou a {
	background-image:url("list_world.gif");
}

.rtl .tree-ldap li.closed {
	background-image:url("plus_rtl.gif");
}
.rtl .tree-ldap #dragged li.open {
	background-image:url("plus_rtl.gif");
}
/*
.tree .tree-ldap li a, 
.tree .tree-ldap li span {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
*/
.tree .tree-ldap li a:hover {
	background-color:silver;
	border-color:silver;
	color:white;
}
.tree .tree-ldap li a.clicked,
.tree .tree-ldap li span.clicked {
	background-color:#2E72DF;
	border-color:#2E72DF;
	color:white;
}