.tree-ldap { 
	margin-left:0;
	float:left;
}

.tree-ldap {
	font-family:"Lucida Grande";
	font-size:14px;
}

.tree-ldap,
.tree-ldap ul,
.tree-ldap li.leaf {
	background-image:none;
}

.tree-ldap {
	background:url("bg.jpg") left top repeat;
}
.tree-ldap li.open {
	background-image:url("minus.gif");
}
.tree-ldap li.closed,
.tree-ldap #dragged li.open {
	background-image:url("plus.gif");
}


.tree-ldap li a {
	background-image:url("folder.png");
}
.tree-ldap li.ou li.cn a,
.tree-ldap li.cn a {
	background-image:url("list_users.gif");
}
.tree-ldap li.dc a {
	background-image:url("icon_get_world.gif");
}
.tree-ldap li.ou li.uid a {
	background-image:url("icon_user.gif");
}
.tree-ldap li.ou li.locked a {
	background-image:url("icon_user.gif");
	color: red;
}
.tree-ldap li.ou a {
	background-image:url("list_world.gif");
}

.tree-ldap li a:hover {
	background-color:silver;
	border-color:silver;
	color:white;
}
.tree-ldap li a.clicked,
.tree-ldap li span.clicked {
	background-color:#2E72DF;
	border-color:#2E72DF;
	color:white;
}
